BODY {
	MARGIN-TOP: 0px; SCROLLBAR-FACE-COLOR: aliceblue; SCROLLBAR-HIGHLIGHT-COLOR: steelblue; MARGIN-LEFT: 0px; SCROLLBAR-SHADOW-COLOR: steelblue; SCROLLBAR-3DLIGHT-COLOR: green; SCROLLBAR-ARROW-COLOR: green; SCROLLBAR-TRACK-COLOR: aliceblue; SCROLLBAR-DARKSHADOW-COLOR: #000099
}
A:link {
	FONT-SIZE: 11px; COLOR: #253010; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 11px; COLOR: #253010; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 11px; COLOR: #c6d0e1; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.faq:link {
	FONT-SIZE: 12px; COLOR: #354a6a; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.faq:visited {
	FONT-SIZE: 12px; COLOR: #354a6a; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.faq:hover {
	FONT-SIZE: 12px; COLOR: #c6d0e1; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
INPUT {
	BORDER-RIGHT: #5272a3 1px solid; BORDER-TOP: #5272a3 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #5272a3 1px solid; COLOR: black; BORDER-BOTTOM: #5272a3 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; FONT-VARIANT: normal
}
SELECT {
	BORDER-RIGHT: green 1px solid; BORDER-TOP: green 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: green 1px solid; COLOR: black; BORDER-BOTTOM: green 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; FONT-VARIANT: normal
}
INPUT.button {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: white 1px solid; COLOR: #ffffff; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #51709f; TEXT-ALIGN: center; FONT-VARIANT: normal
}
.content_body {
	FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.content_body2 {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.content_head {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.content_macquee {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
TD.result {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Verdana, Sans-serrif; HEIGHT: 30px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; layer-background-color: #FFFFFF
}
TD.disclaimer {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 13pt; FONT-FAMILY: Verdana, Sans-serrif; BACKGROUND-COLOR: white; layer-background-color: White; veritcal-align: top
}
